@{
    ViewData["Title"] = "Home";
    Layout = "_Dashboard";
}
<h1><strong>Wallet</strong> Overview</h1>
<div class="row">
    <div class="col-lg-5">
        <div class="pute">
            <h3><strong>Cumulative</strong> Balance</h3>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="pute">
            <h3><strong>Cumulative</strong> Balance</h3>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-5">
        <div class="pute">
            <h3><strong>Cumulative</strong> Balance</h3>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="pute">
            <h3><strong>Cumulative</strong> Balance</h3>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        /*$(document).ready(function() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "showDuration": "30000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10100000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr["info"]("<figure class='user-avatar'><img src='http://odindesign-themes.com/emerald-dragon/images/avatars/avatar_02.jpg' alt='user-image'></figure><p class='info'>Title</p><p class='timestamp'>X hours ago</p>    						 <span class='sl-icon icon-heart'></span>    						 <img class='close-btn' src='images/dashboard/notif-close-icon.png' alt='close-icon'>						")
        });*/
    </script>
}
