@model int
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="wrapper">
    <main id="main">
        <div class="text-center pt-5 pb-5">
            
            <h1>Erreur 404</h1>
            <p class="lead">Cette page est introuvable :(</p>
        </div>
    </main>
</div>