@{
    ViewData["Title"] = "Keep your Cryptos. Safely.";
}
<style>
    
    span {
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite;
    }

    @@keyframes caret {
    50% {
        border-color: transparent;
    }
    }
</style>
<div id="particle-background"></div>
<div class="container">
    <div class="jumbotron bg-transparent text-center m-0">
        <h1>Keep your Cryptos. Safely.</h1>
        <p class="lead">Spend your Cryptocurrencies with Safety and Keep your Privacy with SafeBlock.</p>
        <div class="form-group mt-5">
            <a asp-controller="Account" asp-action="GettingStarted" asp-route-section="register" class="btn btn-primary btn-lg"><i class="fas fa-user-plus"></i> Create a Wallet</a>
            <a asp-controller="Account" asp-action="GettingStarted" asp-route-section="login" class="btn btn-secondary btn-lg"><i class="fas fa-sign-in-alt"></i> Sign In SafeBlock</a>
        </div>
    </div>
</div>
<div id="app-clearfix">
    <img src="https://pix.watch/dVio9Q/8oQ_To.jpeg" class="app" alt="SafeBlock.io Wallet" />
</div>
<div id="wrapper">
    <main id="main">
        <section>
            <div class="container">
                <h2>Why choose SafeBlock.io ?</h2>
                <p class="lead">We are actually one of the best solutions for keeping your coins safe.</p>
                <div class="separator"></div>
                <img src="~/static/Sans titre-4.jpg" style="width: 100%;"/>
            </div>
        </section>
        <section class="bg-white">
            <div class="container">
                <h2>Why you should get it now</h2>
                <p class="lead">Lorem Ipsum is simply dummy texte of the printing and typesetting industry.</p>
                <div class="separator"></div>
                
            </div>
        </section>
        <section>
            <div class="container">
                <h2>Subcribe to our Newsletter</h2>
                <p class="lead">Get updates about SafeBlock.io and news about cryptocurrencies.</p>
                <div class="separator"></div>
                
                <div class="input-group mb-3 col-md-6 offset-lg-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter your email address..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-lg btn-outline-primary" type="button">Subscribe !</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>