@model List<Article>
@{
    ViewData["Title"] = "Read our Blog";
}
<div id="edge-background" class="simple"></div>
<div id="wave-header" class="short">
    <div class="container">
        <div class="offset-md-2 col-md-8 text-center">
            <h1 class="text-white mb-0">Privacy Policy</h1>
            <p class="text-white-50 m-0 pt-3">Take the temperature of our services.</p>
        </div>
    </div>
</div>
<div id="wrapper">
    <main id="main">
        <section class="pt-5" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        ds
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>