@model dynamic
@{
    ViewData["Title"] = "Service Status";
}
<div id="edge-background" class="simple"></div>
<div id="wave-header" class="short">
    <div class="container">
        <div class="offset-md-2 col-md-8 text-center">
            <h1 class="text-white mb-0">Watch our Service Status</h1>
            <p class="text-white-50 m-0 pt-3">Take the temperature of our services.</p>
        </div>
    </div>
</div>
<div id="wrapper">
    <main id="main">
        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.Error != true)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Service Name</th>
                                        <th>Description</th>
                                        <th>Check ID</th>
                                        <th class="text-right" scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var service in Model)
                                    {
                                        <tr>
                                            <td>@service.Name</td>
                                            <td>@service.Notes</td>
                                            <td>@service.CheckID</td>
                                            <td class="text-right">
                                                <label class="badge badge-@(service.Status.ToString().ToLower().Contains("passing") ? "success" : "danger")">@service.Status</label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p class="text-danger text-center">The Health Check Agent seem to be offline.</p>
                        }
                        <p class="text-center mt-5 text-muted small">All the informations are provided by a <a href="https://www.consul.io/" target="_blank">Consul Agent</a> &reg;.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>