@{
    ViewData["Title"] = "We are Tor Friendly";
}
<div id="particle-background" class="simple"></div>
<div id="wrapper">
    <main id="main">
        <section class="pt-5">
            <div class="container">
                <h2>SafeBlock.io is Tor Friendly</h2>
                <p class="lead">Stay completely anonymous by using your prefered wallet under Tor.</p>
                <div class="separator"></div>
                <img src="~/static/Sans titre-4.jpg" style="width: 100%;"/>
            </div>
        </section>
    </main>
</div>