@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,400|PT+Sans:400,700|Roboto:300,400');

::-moz-selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

body {
    background-color: #0d42b2;
    margin: 0px;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1200px;
    }
}

.zi-top {
    z-index: 999;
}

.inherit {
    color: inherit;
    text-decoration: inherit;
}

.language-switcher {
    padding-left: 3px;
}

.language-switcher .dropdown-menu {
    min-width: 70px;
}

.language-switcher a {
    font-size: 10pt;
    line-height: 19pt;
}

.language-switcher::before {
    position: absolute;
    content: '';
    left: 0;
    top: 6px;
    height: 30px;
    width: 1px;
    background: rgba(255, 255, 255, 0.1);
}

canvas {
    display: block;
}

#particle-background {
    position: absolute;
    /*background: url(/static/section-background.svg) 50% 17vh no-repeat,linear-gradient(to left top, #28a5f5, #1556c8) 0 0 no-repeat;*/
    background: url("/static/header-overlay.png") 0 0 no-repeat, url("/static/section-background.svg") 50% 17vh no-repeat, url("/static/header-bg-azure.png") 50% 100% no-repeat;
    background-color: #0d42b2;
    top: 0px;
    height: 100vh;
    height: 876px;
    width: 100%;
    z-index: -1;
}

#particle-background.simple {
    /*background: url("/static/header-overlay.png") 0 0 no-repeat, url("/static/section-background.svg") 50% 17vh no-repeat, url("/static/header-bg-azure.png") 50% 100% no-repeat;*/
}

.btn-primary {
    background-color: #1080f2 !important;
    border-radius: 1px;
}

.btn-transparent {
    background: transparent;
    color: #EEEEEE;
}

#support {
    margin: 30px 0px 70px;
}

#support .input-group {
    border: 0px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: #fff;
}

#support .input-group input {
    background-color: transparent;
    border: 0pt none;
    color: #EEEEEE;
}

.search::placeholder {
    color: #cccccc;
}

.jumbotron {
    height: 340px;
    padding: 5.5rem 2rem;
}

.jumbotron h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 58px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.jumbotron p.lead {
    font-size: 19px;
    font-weight: 400;
    line-height: 10px;
    color: #F0F0F0;
    margin-top: 15px;
    line-height: 1em;
}

.jumbotron .btn-primary,
.jumbotron .btn-secondary:hover {
    color: #1080f2;
    min-width: 150px;
    padding: 0 20px;
    background-color: #FFFFFF !important;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 10px;
    margin-bottom: 0px;
    border: 2px solid #FFFFFF;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.jumbotron .btn-secondary,
.jumbotron .btn-primary:hover,
.jumbotron .btn-primary:active {
    min-width: 150px;
    padding: 0 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 10px;
    margin-bottom: 0px;
    border: 2px solid #FFFFFF !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: transparent !important;
    color: white;
}

#app-clearfix {
    height: calc(100vh - 450px);
    position: relative;
}

#app-clearfix img.app {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    left: calc(100vw / 2 - 1070px / 2);
    position: absolute;
    width: 1070px;
    top: 30px;
    z-index: -1;
}

#wrapper {
    padding-top: 114px;
    background-image: url(/static/wave.png);
    background-repeat: no-repeat;
}

#wrapper #main {

    background-color: #fbfbfb;
    min-height: 200px;
}

section {
    padding: 100px 0px;
    font-family: 'Roboto', sans-serif;
}

section h2 {
    font-weight: 300;
    font-size: 26pt;
    text-align: center;
    color: #444444;
}

section p.lead {
    font-weight: 300;
    text-align: center;
    font-size: 12pt;
    color: #777777;
}

section .separator {
    background-color: #0b54ec;
    width: 70px;
    height: 2px;
    margin: 23px auto 50px;
}

footer {
    background-color: #212636;
    color: #DDDDDD;
}

footer a,
footer a:hover {
    color: #AAAAAA;
    text-decoration: none;
}

footer .sub-footer {
    background-color: #1c2131;
}

.twitter {
    z-index: 999;
    background: #fff;
    position: absolute;
    top: 40vh;
    left: 0;
    cursor: pointer;
    padding: 7px 12px;
    font-size: 20px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.dialog-window {
    margin: auto;
    width: 500px;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    padding: 30px;
    position: absolute;
    margin: auto;
    left: calc(100vw / 2 - 500px / 2);
    top: calc(100vh / 2 - 492px / 2);
}

.dialog-window h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 28pt;
    margin-bottom: 0px;
}

.dialog-window p {
    font-family: 'PT Sans', sans-serif;
    margin-top: 10px;
    font-size: 13pt;
}

.dialog-window .nav {
    border-bottom: 1px solid #DDDDDD;
}

.dialog-window .nav .nav-link {
    text-transform: uppercase;
    color: #AAAAAA;
    font-size: 11pt;
}

.dialog-window .nav .nav-link.active {
    border-bottom: 1px solid #1080f2;
    color: #777777;
}

label,
.field-validation-error {
    font-size: 10pt;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.field-validation-error {
    margin-top: 7px;
    float: right;
    color: #cc0000;
    font-size: 8pt;
}

.form-control {
    border-radius: 0px;
    border: 1px solid #DEDEDE;
}

nav.navbar-expand-lg .nav-link {
    margin: 8px;
    color: #EEEEEE !important;
    padding: 0px 0px 3px !important;
}

nav.navbar-expand-lg .nav-link.active {
}

nav.navbar-expand-lg .nav-link {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

nav.navbar-expand-lg .nav-link:not(.nav-dropdown)::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #EEEEEE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav.navbar-expand-lg .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav.navbar-expand-lg .nav-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #EEEEEE;
    transition: transform 0.25s ease-out;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #ff5c6c;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .point {
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color: #ff5c6c;
    position: absolute;
    right: 6px;
    top: -10px;
}

.notify {
    position: relative;
    top: -16px;
    right: -16px;
}

@keyframes heartbit {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}