<aside data-aos="fade" data-aos-duration="1200">
    <div class="head title">@Localizer["FILTER BY CATEGORIES"]</div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group shadow">
                <a asp-controller="Blog" asp-action="Category" asp-route-category="security" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-chevron-right"></i> &nbsp;&nbsp;Official Release</span>
                    <span class="badge badge-dark badge-pill">0</span>
                </a>
                <a asp-controller="Blog" asp-action="Category" asp-route-category="security" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-chevron-right"></i> &nbsp;&nbsp;Social Media</span>
                    <span class="badge badge-dark badge-pill">0</span>
                </a>
                <a asp-controller="Blog" asp-action="Category" asp-route-category="security" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-chevron-right"></i> &nbsp;&nbsp;News & Informations</span>
                    <span class="badge badge-dark badge-pill">0</span>
                </a>
                <a asp-controller="Blog" asp-action="Category" asp-route-category="security" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-chevron-right"></i> &nbsp;&nbsp;Security</span>
                    <span class="badge badge-dark badge-pill">0</span>
                </a>
                <a asp-controller="Blog" asp-action="Category" asp-route-category="security" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-chevron-right"></i> &nbsp;&nbsp;Tools & Update</span>
                    <span class="badge badge-dark badge-pill">0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="head title mt-4">@Localizer["FILTER BY TAGS"]</div>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white shadow p-3 block">
                <a asp-controller="Blog" asp-action="Tag" asp-route-tag="Tag" class="badge badge-light tag">Microsoft</a>
            </div>
        </div>
    </div>
    <div class="head title mt-4">@Localizer["SHARE ARTICLES"]</div>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white shadow p-3 block">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            </div>
        </div>
    </div>
</aside>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b9fbae6ad340d93"></script>
