@model ContactDatas
<form method="post" asp-controller="Support" asp-action="SendMessage" asp-antiforgery="true" data-ajax="true" data-ajax-success="SendedMessage" data-ajax-failure="FailedMessage" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content-test">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="contactSubject">Subject</label>
                <input type="text" asp-for="Subject" class="form-control" id="contactSubject" aria-describedby="contactSubjectHelp" placeholder="Enter the subject">
                <small id="contactSubjectHelp" class="form-text text-muted pl-1">Specify why do you contact us.</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="contactMail">Email address</label>
                <input type="email" asp-for="Email" class="form-control" id="contactMail" aria-describedby="contactMailHelp" placeholder="Enter email address">
                <small id="contactMailHelp" class="form-text text-muted pl-1">Get more by watching our <a asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a>.</small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="contactMessage">Message content</label>
        <textarea class="form-control" asp-for="Content" rows="7" id="contactMessage" aria-describedby="contactMessage" placeholder="Enter your message .."></textarea>
    </div>
    <div class="form-group">
        <recaptcha />
    </div>
    <button type="submit" class="btn btn-primary btn-sm"> Send Message</button>
    <button type="reset" class="btn btn-dark btn-sm"> Cancel</button>
</form>