@model KnowledgeBase
@{
    ViewData["Title"] = "Knowledge Base";
}
<div id="edge-background" class="simple"></div>
<div id="support">
    <div class="container">
        <div class="offset-md-2 col-md-8 text-center">
            <h1 class="text-white mb-4 pb-2">Search in KnowledgeBase</h1>
            <form method="post" asp-controller="Support" asp-action="SearchKnowledgebase">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg search" asp-for="Query" placeholder="Search help on our knowledge database." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-transparent" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <p class="text-white-50 m-0 pt-3">Live Support is available on your account.</p>
        </div>
    </div>
</div>
<div id="wrapper">
    <main id="main">
        <section class="pt-3">
            <div class="container">
                
                <ul class="nav tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active @(ViewBag.Section == "register" ? "active":"")" href="#create-wallet" data-toggle="tab" role="tab" aria-controls="create-wallet" aria-selected="true">Create a Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.Section == "login" ? "active":"")" href="#login" id="home-tab" data-toggle="tab" role="tab" aria-controls="login" aria-selected="true">Sign In</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-lock-open"></i> Forgotten Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-utilisateur-50.png" class="icon"/>
                        <h5>My Account</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-protection-des-données-50.png" class="icon"/>
                        <h5>Privacy Policy</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-paramètres-de-l'api-50.png" class="icon"/>
                        <h5>API Using</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-lien-50.png" class="icon"/>
                        <h5>Affiliation</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                </div>
                <div class="row mt-4 pt-4">
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-stockage-en-ligne-50.png" class="icon"/>
                        <h5>Full Node Hosting</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-espion-homme-50.png" class="icon"/>
                        <h5>Anonymity</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-argent-50.png" class="icon"/>
                        <h5>Billing & Payment</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="~/static/icons/icons8-empreinte-digitale-50.png" class="icon"/>
                        <h5>Identification</h5>
                        <p class="small">View Articles &rarr;</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>