@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand-lg fixed-bottom navbar-dark text-white" role="alert">
        <div class="container">
            <span class="navbar-text text-white p-0">
                <strong>Do you like Cookies 🍪 ? </strong> Nous utilisons des cookies pour vous garantir la meilleure expérience possible tout en préservant votre vie privée.
            </span>
            <div class="float-right">
                <a asp-controller="Home" asp-action="PrivacyPolicy" type="button" class="btn btn-primary btn-sm normal">Read More</a>
                <button type="button" class="btn btn-warning btn-sm normal" data-cookie-string="@cookieString">I Agree</button>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (
                el) {
                document.cookie = el.target.dataset.cookieString;
                $("#cookieConsent").slideUp();
            }, false);
        })();
    </script>
}