@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand-lg fixed-bottom navbar-dark text-white" role="alert">
        <div class="container">
            <span class="navbar-text text-white p-0">
                <strong>Do you like Cookies 🍪 ? </strong> Nous utilisons des cookies pour vous garantir la meilleure expérience possible.
                <a asp-controller="Home" asp-action="PrivacyPolicy">En Savoir Plus</a>.
            </span>
            <button type="button" class="btn btn-warning btn-sm normal float-right" data-cookie-string="@cookieString">I Understood</button>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (
                el) {
                document.cookie = el.target.dataset.cookieString;
                $("#cookieConsent").slideUp();
            }, false);
        })();
    </script>
}