<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeBlock.Io Wallet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/lib/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/lib/glidejs/dist/css/glide.core.min.css" />
    <link rel="stylesheet" href="~/lib/glidejs/dist/css/glide.theme.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" href="~/lib/nprogress/nprogress.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dashboard.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/dashboard.min.css" asp-append-version="true" />
    </environment>
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body class="bg-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse account-nav">
            <span class="navbar-text pl-3"> With
                <strong>SafeBlock.io</strong> Keep all your Cryptos in a Perfect Security 💪 </span>
            <ul class="navbar-nav ml-auto pr-4">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-bell"></i> Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-comments"></i> Messaging</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="avatar" gravatar-email="@User.Identity.Name" gravatar-force-https="true" gravatar-size="30" gravatar-default-image="mm" />
                        <span class="vam">Clint Mourlevat</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pl-5" id="second-bar">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-view-dashboard"></i> Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-coins"></i> Buy Cryptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-cube"></i> Blockchain As A Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-cog"></i> Settings</a>
                </li>
            </ul>
            <span class="navbar-text ml-auto mr-3">
                <small>Version 2.1.0</small>
            </span>
        </div>
    </nav>
    <ul class="nav flex-column pt-1" id="side">
        <li>
            <a class="nav-link inherit back" href="/">
                <i class="fas fa-bars"></i>
            </a>
        </li>
        <li class="nav-item mt-4">
            <a class="nav-link active" href="#">
                <img src="/static/icons/icons8-portefeuille-32.png"> </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" href="#">
                <img src="/static/icons/icons8-sécurité-vérifiée-32.png"> </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" href="#">
                <img src="/static/icons/icons8-remplacer-32.png"> </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" href="#">
                <img src="/static/icons/icons8-coffre-fort-32.png"> </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" href="#">
                <img src="/static/icons/icons8-réunion-32.png"> </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" href="/dashboard/support">
                <img src="/static/icons/icons8-support-en-ligne-32.png"> </a>
        </li>
        <li class="nav-item mt-3 logout">
            <a class="nav-link" href="/account/logout">
                <img src="/static/icons/icons8-fermer-32.png"> </a>
        </li>
    </ul>
    <div id="wrapper">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/particles.js/particles.min.js"></script>
    <script src="~/lib/nprogress/nprogress.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <environment include="Development">
        <script src="~/js/dashboard.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/dashboard.min.js" asp-append-version="true"></script>
    </environment>
    @Html.Partial("_ValidationScriptsPartial") @RenderSection("Scripts", required: false)
</body>
</html>