<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeBlock.io | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/npm/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/npm/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css" />
    <link rel="stylesheet" href="~/npm/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/npm/@@mdi/font/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/npm/glidejs/dist/css/glide.core.min.css" />
    <link rel="stylesheet" href="~/npm/glidejs/dist/css/glide.theme.min.css" />
    <link rel="stylesheet" href="~/npm/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/npm/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" href="~/npm/toastr/build/toastr.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dashboard.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/dashboard.min.css" asp-append-version="true" />
    </environment>
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body class="bg-light">
    @*<div class="bg-dark" id="loader" style="position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;"> 
        <div class="sk-folding-cube" style="top: calc(50% - 80px);">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>*@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse account-nav">
            <span class="navbar-text pl-3">
                With
                <strong>SafeBlock.io</strong> Keep all your Cryptos in a Perfect Security 💪
            </span>
            <ul class="navbar-nav ml-auto pr-4">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-bell"></i> Notifications
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-comments"></i> Messaging
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="avatar" gravatar-email="@User.Identity.Name" gravatar-force-https="true" gravatar-size="26" gravatar-default-image="mm" />
                        <span class="vam">Clint Mourlevat</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-white pl-5" id="second-bar">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-view-dashboard"></i> Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-file-document"></i> API Documentation
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-code-braces"></i> Development Platform
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-settings"></i> Parameters
                    </a>
                </li>
            </ul>
            <a asp-action="Changelog" asp-controller="Dashboard" class="navbar-text ml-auto mr-3 inherit text-muted small" data-toggle="tooltip" data-placement="left" title="Tooltip on top">
                <i class="fas fa-info-circle"></i> Version 2.1.0
            </a>
        </div>
    </nav>
    <ul class="nav flex-column pt-1" id="side">
        <li>
            <a class="nav-link inherit back" href="/">
                <i class="fas fa-bars"></i>
            </a>
        </li>
        <li class="nav-item mt-4">
            <a class="nav-link active" asp-action="Index" asp-controller="Dashboard" data-toggle="tooltip" data-placement="right" title="Wallet Overview">
                <img src="/static/icons/icons8-portefeuille-32.png">
            </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" asp-action="Security" asp-controller="Dashboard" data-toggle="tooltip" data-placement="right" title="Security Center">
                <img src="/static/icons/icons8-sécurité-vérifiée-32.png">
            </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" asp-action="Exchange" asp-controller="Dashboard" data-toggle="tooltip" data-placement="right" title="Currencies Exchanging">
                <img src="/static/icons/icons8-remplacer-32.png">
            </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" asp-action="Vault" asp-controller="Dashboard" data-toggle="tooltip" data-placement="right" title="Vault Management">
                <img src="/static/icons/icons8-coffre-fort-32.png">
            </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" asp-action="Escrow" asp-controller="Dashboard" data-toggle="tooltip" data-placement="right" title="Escrow Platform">
                <img src="/static/icons/icons8-réunion-32.png">
            </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" asp-action="FullNode" asp-controller="Dashboard" data-toggle="tooltip" data-placement="right" title="Full Node Hosting">
                <img src="~/static/icons/icons8-cube-32.png">
            </a>
        </li>
        <li class="nav-item mt-3">
            <a class="nav-link" asp-action="Support" asp-controller="Dashboard" data-toggle="tooltip" data-placement="right" title="Support Center">
                <img src="/static/icons/icons8-support-en-ligne-32.png">
            </a>
        </li>
        <li class="nav-item mt-3 logout" data-toggle="tooltip" data-placement="right" title="Logout Account">
            <a class="nav-link" asp-controller="Account" asp-action="Logout">
                <img src="/static/icons/icons8-fermer-32.png">
            </a>
        </li>
    </ul>
    <div id="wrapper">
        @RenderBody()
    </div>
    <script src="~/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/npm/particles.js/particles.min.js"></script>
    <script src="~/npm/nprogress/nprogress.js"></script>
    <script src="~/npm/toastr/toastr.min.js"></script>
    <script src="~/npm/chart.js/dist/Chart.min.js"></script>
    <script src="~/npm/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <environment include="Development">
        <script src="~/js/dashboard.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/dashboard.min.js" asp-append-version="true"></script>
    </environment>
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>