<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeBlock.Io Wallet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dashboard.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/dashboard.min.css" asp-append-version="true" />
    </environment>
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
<div id="left-menu">
    <a asp-controller="Dashboard" asp-action="Index"><img src="~/static/og-white.png" class="logo"/></a>
    <nav class="nav flex-column">
        <a asp-controller="Dashboard" asp-action="Index" class="nav-link active">
            <img src="~/static/icons8-portefeuille-64.png" alt="wallet"/>
            <span>Wallet</span>
        </a>
        @*<a asp-controller="Dashboard" asp-action="Security" class="nav-link">
            <img src="~/static/icons8-sécurité-vérifiée-64.png" alt="security"/>
            <span>Security</span>
        </a>*@
        <a asp-controller="Dashboard" asp-action="Exchange" class="nav-link">
            <img src="~/static/icons8-synchroniser-64.png" alt="exchange"/>
            <span>Exchange</span>
        </a>
        <a asp-controller="Dashboard" asp-action="Development" class="nav-link">
            <img src="~/static/icons8-code-source-64.png" alt="development"/>
            <span>Development</span>
        </a>
        <a asp-controller="Dashboard" asp-action="Support" class="nav-link">
            <img src="~/static/icons8-aide-64.png" alt="support"/>
            <span>Support</span>
        </a>
    </nav>
    <div class="user">
        <img gravatar-email="@User.Identity.Name" gravatar-default-image="mm" gravatar-size="50" />
        <div class="status green"></div>
    </div>
</div>
<main id="main">
    @RenderBody()
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/particles.js/particles.min.js"></script>
<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
@Html.Partial("_ValidationScriptsPartial")
@RenderSection("Scripts", required: false)
</body>
</html>