<meta charset="utf-8">
<title>SafeBlock.Io | Keep your Cryptos. Safely.</title>
<meta name="description" content="With SafeBlock.io Keep all your Cryptos in a Perfect Security 💪">
<meta itemprop="name" content="SafeBlock.Io | Keep your Cryptos. Safely.">
<meta itemprop="description" content="With SafeBlock.io Keep all your Cryptos in a Perfect Security 💪">
<meta itemprop="keywords" content="safebloc,safeblock.io,crypto,wallet,cryptocurrencies,crypto wallet,bitcoin wallet,stratis,dash,dashcoin,zcash,zcash wallet,stratis wallet,stratis wallet,proof of work,proof of stake,ethereum,ethereum wallet,ethereum smart contracts,smart contracts,stratis smart contracts,ico,ico platform,exchange,escrow,mixing,buy bitcoins,staking,docker,vault">
<meta name="author" content="Clint Mourlevat">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="SafeBlock.Io | Keep your Cryptos. Safely.">
<meta name="twitter:description" content="With SafeBlock.io Keep all your Cryptos in a Perfect Security 💪">
<meta name="twitter:site" content="@@safeblock_io">
<meta name="twitter:creator" content="@@safeblock_io">
<meta name="og:title" content="SafeBlock.Io | Keep your Cryptos. Safely.">
<meta name="og:description" content="With SafeBlock.io Keep all your Cryptos in a Perfect Security 💪">
<meta name="og:url" content="https://safeblock.io/">
<meta name="og:site_name" content="SafeBlock.io">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">
<script type="application/ld+json">
{
"@@context": "http://schema.org",
"@@type": "Organization",
"url": "https://safeblock.io",
"logo": "https://safeblock.io/static/logo-com.png"
}
</script>