<div id="tor-popup" class="white-popup mfp-hide">
    <div class="mb-4 text-center">
        <img src="~/static/tor.png" style="width: 50%;"/>
    </div>
    <p>SafeBlock.io is accessible from Tor and has a specific Tor URL that allows you to use all the features of our platform trought Tor and in a perfect anonymity.</p>
    <p>Tor is free software and an open network that helps you defend against traffic analysis, a form of network surveillance that threatens personal freedom and privacy, confidential business activities and relationships, and state security</p>
    <p><a target="_blank" href="https://www.torproject.org/about/overview.html.en">Visit TorProject.org &raquo;</a></p>
    <div class="mt-4 mb-4 text-center">
        <a href="http://safeblockcjm5jbf.onion" class="btn btn-primary btn-sm"><i class="mdi mdi-tor"></i> Switch Tor Version</a>
    </div> 
</div>