@{
    ViewData["Title"] = "Getting Started";
    ViewBag.HideFooter = true;
}
<div id="particle-background"></div>
<div class="dialog-window text-center">
    <h1 class="text-center">SafeBlock.io</h1>
    <p class="text-center">The Most Secure Cryptos Wallet on the Earth.</p>
    
    <img src="~/static/mail.png" style="width: 150px;" class="mt-3" alt="mail"/>
    
    <h3 class="mt-4 pt-1">Your account is <strong>Activated</strong>.</h3>
    <p class="lead">Enjoy your wallet without restrictions.</p>
</div>
@section Head
{
    <meta http-equiv="refresh" content="5; url=/dashboard"> 
}